h1{
    text-align: center;
        margin-bottom: 50px;
        margin-top: 80px;
        color: black; 
}

#timeslot{
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 20px;
    padding-left: 10px;
    border-radius:8px;
    border:2px solid black;

}

label{
    text-align: left;
    margin-bottom: 5px;
}

.add-movie{
    margin-bottom: 103px;
}