<div class="add-movie">
    <h1>Add New Movie</h1>
    <form #addMovi="ngForm" (ngSubmit)="addMovie()" class="common-form">
        <input type="text" [(ngModel)]="newMovie.name" name="name" class="form-input" placeholder="Enter Movie name"/>
        <input type="text" [(ngModel)]="newMovie.price" name="price" class="form-input" placeholder="Enter Movie price"/>
        <label for="timeslot">Choose Time slot</label>
        <select id="timeslot" [(ngModel)]="newMovie.timeSlot" name="timeslot">
            <option value="default" selected>Select Timeslot</option>
            <option value="9:00AM-12:00PM" >Morning(9:00AM-12:00PM)</option>
            <option value="12:00PM-3:00PM">Afternoon(12:00PM-3:00PM)</option>
            <option value="4:00PM-7:00PM">Evening(4:00PM-7:00PM)</option>
        </select>
        <textarea type="text" ngModel class="form-input" name="description" placeholder="Enter Description"></textarea>
        <input type="text" [(ngModel)]="newMovie.image" name="image" class="form-input" placeholder="Enter Movie image url"/>
        <button class="form-button">Add</button>

    </form>
</div>


